*~
\#*
.\#*
.*.sw?
*.coverprofile
*exportable-fuzz.zip
go-i2p
go-i2p-*
*.exe
.idea/
router.info
log
*.gv
diff
err
*.test
.padding
*.disabled
*.bak
*.backup*
*.yaml
*.log
*.dat
*.env
.zed
.vscode
.DS_store
